   html {
   height: 100%;
   }

   body {
   font-family: Helvetica, Arial, sans-serif;
   margin-left: 40px;
   height: 100%;

   /* IE10 */
   background-image: -ms-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Mozilla Firefox */
   background-image: -moz-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Opera */
   background-image: -o-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Webkit (Safari/Chrome 10) */
   background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #D6FFDD), color-stop(1, #86B7EF));

   /* Webkit (Chrome 11+) */
   background-image: -webkit-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);
  
   /* IE10 */ 
   background-image: -ms-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Proposed W3C Markup */ 
   background-image: linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);
}

   div.fullscreen{
    display:block;

    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:0;
    left:0;
    
    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;
  }
