   html {
   height: 100%;
   }

   body {
   font-family: Helvetica, Arial, sans-serif;
   padding-left: 12em;
   height: 100%;

   /* IE10 */
   background-image: -ms-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Mozilla Firefox */
   background-image: -moz-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Opera */
   background-image: -o-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Webkit (Safari/Chrome 10) */
   background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #D6FFDD), color-stop(1, #86B7EF));

   /* Webkit (Chrome 11+) */
   background-image: -webkit-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);
  
   /* IE10 */ 
   background-image: -ms-linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);

   /* Proposed W3C Markup */ 
   background-image: linear-gradient(left, #D6FFDD 0%, #86B7EF 100%);
}


table.t {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: #F0F8FF;
}
table.t th {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	background-color: #F0F8FF;
	-moz-border-radius: ;
}
table.t td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	background-color: #F0F8FF;
	-moz-border-radius: ;
}

div.box{
  border-style: solid;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: gray;
  background: white;
  padding: 2em;
  link-color: black;
  size: absolute;
}


div.box table {
        border-width: 0px;
        border-spacing: 0px;
        background-color: white;
}
div.box th {
        border-width: 0px;
        padding: 3px;
        background-color: white;
        align: left;
}
div.box td {
        border-width: 0px;
        padding: 3px;
        background-color: white;
        align: left;
}


ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 73px;
  left: 1em;
  width: 9em 
}

ul.navbar li {
  background:  #fee3ad;
  margin: 0.5em 0;
  padding: 0.3em;
  border: 0.3em solid gray;
  border-right: 10px solid gray; 
  font-weight: 500;
}

ul.navbar a {
  text-decoration: none;
}

a:link {
  color: black; 
}

a:visited {
  color: black; 
}

a.kysely:link {
  color: black;
}

a.kysely:visited {
  color: black;
}

label {
width: 3em;
float: left;
text-align: left;
margin-right: 0.5em;
display: block
}

input {
color: black;
background: #fee3ad;
border: 1px solid gray
}

.submit input {
color: white;
background: #86B7EF;
border: 2px outset #d7b9c9
}

fieldset {
background-color: white;
border: 1px solid gray;
width: 9em
}

legend {
color: white;
background: #86B7EF;
border: 1px solid gray;
padding: 2px 6px
}





